@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");

:root {
  --main-bg: #f9f4e8;
  --cta-bg: #4976eb;
  --white: #fffefe;
  --black: #000000;
  --grey: #555554;
  --pink-gr: #eb5672;
  --yellow-gr: #ebae53;
  --tick-mark-bg: #44b197;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--main-bg);
  height: 100vh;
  line-height: 1.6;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--grey);
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

/* Header */
.header {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 4.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.4rem;
  color: var(--grey);
}

.cta {
  border: 1px solid rgb(0, 0, 0);
}

/* Section Hero */
.section-hero {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  gap: 9.6rem;
  padding: 6.4rem 0;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border: 1px solid red;
}

.hero-copy {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

.hero-heading,
.logo {
  font-family: "Playfair Display", serif;
}

.hero-heading {
  font-size: 4.2rem;
  line-height: 1;
}

.hero-description {
  font-size: 1.6rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.email-subscription {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

#email {
  padding: 0.8rem;
  border-radius: 4px;
}

button {
  border: none;
  border-radius: 9px;
  background-color: var(--cta-bg);
  color: var(--white);
  padding: 1.4rem 2.8rem;
  cursor: pointer;
}

/* Image Box */
.hero-img-box {
  border: 1px solid red;
}
.model-img {
  width: 50%;
  display: block;
  border: 1px solid red;
}

.aside {
  display: flex;
  justify-content: space-between;
}
